/* ---------------------  Media Queries --------------------------------  */


/* Main Nav and Header */

@media all and (min-width:924px) and (max-width:1024px)

{
  #menu-main-menu > li a {

    padding: 14px 14px;


  }

  div#header h1 {

    font-size:40pt;


  }

  div#header img {

    left:-170px;
  }
}

@media all and (min-width:800px) and (max-width:924px)

{
  #menu-main-menu > li a {

    padding: 14px 11px;


  }

  div#header h1 {

    font-size:40pt;


  }

  div#header img {

    left:-150px;
  }



}


/* End Main Nav */



@media all and (min-width:600px) and (max-width:800px)
{
  /* front-page.php */

  div#header h1 {

    font-size:40pt;
    padding-left:50px;


  }

  div#header img {

    left:-80px;
  }

  div.menu-main-menu-container{

    display:none
  }
  .menu-container{

    background-color:#2B621D;
  }

  .menu-container a {
    padding: 14px 24px;
    font-size: 1.125em;
    color:#EEF2DC;
    display:inherit;
  }

  div#welcome{
    clear:both;
    width:97.916667%;
    margin-left:1.0638295%;

    margin-top:10px;
    height:300px;
    margin-bottom:20px;
    overflow:hidden;


  }
  div#welcome h3 {
    text-align:left;
    padding-left:3%;
    padding-bottom:10px;

  }
  div#welcome p {

    padding:0;
    padding-left:3%;
  }

  div#flexslider
  {
    width:97.916667%;
    margin-left:1.0638295%;
    height:400px;

    clear:both;
    margin-bottom:20px;
    float:left;
  }
  /*#button-container1, ul#button-list1, ul#button-list1 li, ul#button-list1 li a, #button-one p, #button-two p, #button-three p, #button-container1>ul#button-list1 li a, ul#button-list1 li#active a, ul#button-list1 li a:hover, ul#button-list1 li#active a:hover   {
  margin:0;
  padding:0;
}
*/

#button-container1
{

  width: 45%;
  margin-left:1.0638295%;
  height:340px;
  background-color:#B9D59D;
  margin-top:20px;
  clear:both;
  float:left;
  text-transform: uppercase;
}

ul#button-list1
{

  list-style: none;
  width: 100%;

}

ul#button-list1 li
{
  display: block;
  width:100%;



}

ul#button-list1 li a
{
  display: block;
  width: 100%;
  height:100px;
  border-radius:30px;
  color:#EEF2DC;
  text-decoration: none;
  background-color:#2B621D;
  font-weight:bold;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.3);
}

#button-one, #button-two
{
  margin-bottom:20px;
  padding-right:0;
}
#button-one p, #button-two p, #button-three p
{
  text-align:center;
  padding-top:40px;
}

#button-container1>ul#button-list1 li a { width: auto; }

ul#button-list1 li#active a
{
  background: #f0e7d7;
  color: #800000;
}

ul#button-list1 li a:hover, ul#button-list1 li#active a:hover
{
  color: #2B621D;
  background-color:#EEF2DC;
  border-color: #aaab9c #fff #fff #ccc;
}




#button-container2
{
  float:right;
  width:45%;
  margin-right:1.0638295%;
  height:340px;
}

div#testimonials
{

  width:98%;
}

div#ads
{

  height:100px;
}

#amazon-smile, #volunteer-match, #shop-with-scrip
{
  height:100px;
}
.ads
{
margin-top:13%;

}

/* End front-page */




/* page.php */



/* End page.php */



/* index.php */



/* End index.php */



/* single.php */



/* End single.php */


}




@media all and (min-width:320px) and (max-width:600px)
{


  /* front-page.php */
  div#header h1 {

    font-size:40pt;



  }

  div#header img {
    display:none;


  }

  div.menu-main-menu-container{

    display:none
  }
  .menu-container{

    background-color:#2B621D;
  }

  .menu-container a {
    padding: 14px 24px;
    font-size: 1.125em;
    color:#EEF2DC;
    display:inherit;
  }

  #button-container1
  {

    width: 98%;
    height:340px;
    background-color:#B9D59D;
    margin-top:20px;
    clear:both;
    float:left;
    text-transform: uppercase;
  }

  ul#button-list1
  {

    list-style: none;
    width: 100%;

  }

  ul#button-list1 li
  {
    display: block;
    width:100%;



  }

  ul#button-list1 li a
  {
    display: block;
    width: 100%;
    height:100px;
    border-radius:30px;
    color:#EEF2DC;
    text-decoration: none;
    background-color:#2B621D;
    font-weight:bold;
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.3);
  }

  #button-one, #button-two
  {
    margin-bottom:20px;
    padding-right:0;
  }
  #button-one p, #button-two p, #button-three p
  {
    text-align:center;
    padding-top:40px;
  }

  #button-container1>ul#button-list1 li a { width: auto; }

  ul#button-list1 li#active a
  {
    background: #f0e7d7;
    color: #800000;
  }

  ul#button-list1 li a:hover, ul#button-list1 li#active a:hover
  {
    color: #2B621D;
    background-color:#EEF2DC;
    border-color: #aaab9c #fff #fff #ccc;
  }




  #button-container2
  {


    float:left;
    width:98%;
    height:340px;
    clear:both;

  }
  div#testimonials
  {

    width:98%;
  }


  div#ads
  {

    height:100px;
  }

  #amazon-smile, #volunteer-match, #shop-with-scrip
  {
    height:100px;
  }
  .ads
  {
    margin-top:12%;

  }
  footer div {


  }


/* End front-page */




  /* page.php */



  /* End page.php */



  /* index.php */



  /* End index.php */



  /* single.php */



  /* End single.php */

}
