/* ---------------------  Media Queries --------------------------------  */


/* Main Nav and Header */


@media all and (min-width:924px) and (max-width:1024px)

{
  #menu-main-menu > li a {

    padding: 14px 14px;


  }

  div#header h1 {

    font-size:40pt;


  }

  div#header img {

    left:-170px;
  }
}

@media all and (min-width:800px) and (max-width:924px)

{


  #menu-main-menu > li a {

    padding: 14px 11px;


  }

  div#header h1 {

    font-size:40pt;


  }

  div#header img {

    left:-150px;
  }



}


/* End Main Nav */
#footer2 {
  font-size:.9em;

}


@media all and (min-width:500px) and (max-width:800px)
{
  /* front-page.php */
  div#wrapper{
    width:100%;
    background-color:transparent;
    margin:auto;
  }


  div#header h1 {

    font-size:40pt;
    padding-left:50px;


  }

  div#header img {

    left:-80px;
  }

 .jquery-nav {
    background-color: white;
    height: auto;
    padding: 0 20px;
    display:block;
    }

    .jquery-title {
      display: block;
      padding: 10px 0px;
    }

    .jquery-nav .menu-main-menu-container {
      display: none;
    }

    #menu-main-menu {
      text-align: left;
      display:block;
      height:auto;
    }

    #menu-main-menu > li {


      display: block;

    }


    .jquery-nav li {
      float: none;
      display: block;
      padding: 10px 0px;
      border-bottom: 1px solid #000;

    }


    #menu-main-menu > li a {
      display: block;
      padding: 10px 0px;
    }

  .jquery-nav {

    background-color:#2B621D;


  }

  .jquery-title {
    padding: 14px 24px;
    font-size: 1.125em;
    color:#EEF2DC;
    display:inherit;
  }

  #menu-main-menu {




  }
  #menu-main-menu ul.sub-menu li {
    display: none;

  }


  div#welcome{
    clear:both;
    width:97.916667%;
    margin-left:1.0638295%;

    margin-top:10px;
    height:200px;
    margin-bottom:20px;
    overflow:hidden;


  }
  div#welcome h3 {
    padding-top:5px;

    text-align:left;
    padding-left:2%;
    padding-bottom:10px;

  }
  div#welcome p {

    padding:0 2% 0 2%;

  }

  div#flexslider
  {
    width:97.916667%;
    margin-left:1.0638295%;
    height:500px;

    clear:both;
    margin-bottom:20px;
    float:left;
  }
  /*#button-container1, ul#button-list1, ul#button-list1 li, ul#button-list1 li a, #button-one p, #button-two p, #button-three p, #button-container1>ul#button-list1 li a, ul#button-list1 li#active a, ul#button-list1 li a:hover, ul#button-list1 li#active a:hover   {
  margin:0;
  padding:0;
}
*/

#button-container1
{

  width: 45%;
  margin-left:1.0638295%;
  height:340px;
  background-color:#B9D59D;
  margin-top:20px;
  clear:both;
  float:left;
  text-transform: uppercase;
}

ul#button-list1
{

  list-style: none;
  width: 100%;

}

ul#button-list1 li
{
  display: block;
  width:100%;



}

ul#button-list1 li a
{
  display: block;
  width: 100%;
  height:100px;
  border-radius:30px;
  color:#EEF2DC;
  text-decoration: none;
  background-color:#2B621D;
  font-weight:bold;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.3);
}

#button-one, #button-two
{
  margin-bottom:20px;
  padding-right:0;
}
#button-one p, #button-two p, #button-three p
{
  text-align:center;
  padding-top:40px;
}

#button-container1>ul#button-list1 li a { width: auto; }

ul#button-list1 li#active a
{
  background: #f0e7d7;
  color: #800000;
}

ul#button-list1 li a:hover, ul#button-list1 li#active a:hover
{
  color: #2B621D;
  background-color:#EEF2DC;
  border-color: #aaab9c #fff #fff #ccc;
}




#button-container2
{
  float:right;
  width:45%;
  margin-right:1.0638295%;
  height:340px;
}


#button-six
{
  background-color:transparent;

}


div#testimonials
{

  width:98%;
}

div#ads
{

  height:100px;
}

#amazon-smile, #volunteer-match, #shop-with-scrip
{
  height:100px;
}
.ads
{
margin-top:5%;

}



footer {
  font-size:.85em;


}
footer div img {
  width:100px !important;
  height:85px !important;
}

#footer2 {
  font-size:.8em;

}
#copyright {

  margin-left:3%;
}
/* End front-page */




/* page.php */
#pagecontent {
  width:68.468085%;

}

#primarypagesidebar {
  width:28.404255%;


}



/* End page.php */



/* index.php */



/* End index.php */



/* single.php */



/* End single.php */


}




@media all and (min-width:320px) and (max-width:500px)
{


  /* front-page.php */
  div#wrapper{
    width:100%;
    background-color:transparent;
    margin:auto;
  }


  div#header h1 {

    font-size:40pt;



  }

  div#header img {
    display:none;


  }

  div.menu-main-menu-container{

    display:none
  }
  .jquery-nav {

    background-color:#2B621D;
  }

  .jquery-title {
    padding: 14px 24px;
    font-size: 1.125em;
    color:#EEF2DC;
    display:inherit;
  }
  div#welcome{
    clear:both;
    width:97.916667%;
    margin-left:1.0638295%;

    margin-top:10px;
    height:200px;
    margin-bottom:20px;
    overflow:hidden;
    font-size:.8em;


  }
  div#welcome h3 {
    text-align:left;
    padding-top:5px;
    padding-left:2%;
    padding-bottom:10px;

  }
  div#welcome p {

    padding:0 2% 0 2%;

  }

  div#flexslider
  {
    width:97.916667%;
    margin-left:1.0638295%;
    height:260px;

    clear:both;
    margin-bottom:20px;
    float:left;
  }


  #button-container1
  {

    width: 98%;
    height:340px;
    background-color:#B9D59D;
    margin-top:20px;
    clear:both;
    float:left;
    text-transform: uppercase;
  }

  ul#button-list1
  {

    list-style: none;
    width: 100%;

  }

  ul#button-list1 li
  {
    display: block;
    width:100%;



  }

  ul#button-list1 li a
  {
    display: block;
    width: 100%;
    height:100px;
    border-radius:30px;
    color:#EEF2DC;
    text-decoration: none;
    background-color:#2B621D;
    font-weight:bold;
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.3);
  }

  #button-one, #button-two
  {
    margin-bottom:20px;
    padding-right:0;
  }
  #button-one p, #button-two p, #button-three p
  {
    text-align:center;
    padding-top:40px;
  }

  #button-container1>ul#button-list1 li a { width: auto; }

  ul#button-list1 li#active a
  {
    background: #f0e7d7;
    color: #800000;
  }

  ul#button-list1 li a:hover, ul#button-list1 li#active a:hover
  {
    color: #2B621D;
    background-color:#EEF2DC;
    border-color: #aaab9c #fff #fff #ccc;
  }




  #button-container2
  {


    float:left;
    width:98%;
    height:340px;
    clear:both;

  }


  #button-six
  {
    background-color:transparent;

  }
  #facebook img, #twitter img {
  width:60%;
  margin: 0 0 0 20%;

  }


  div#testimonials
  {

    width:98%;
    height:240px;
    margin-bottom:10px;
  }


  div#ads
  {
background-color:transparent;
    height:100px;
  }

  #amazon-smile, #volunteer-match, #shop-with-scrip
  {
    background-color:transparent;
    height:100px;
  }
  .ads
  {

    margin-top:23%;

  }
  footer {
    margin-top:10px;
    font-size:.85em;


  }
  footer div img {

    margin-top:15px;
    width:85px !important;
    height:70px !important;
  }
  footer div span {

    font-size:.9em;
  }
  footer div:first-child {


  }
  footer div:last-child {

    font-size:.75em;
  }
  #footer2 {
    font-size:.6em;
    margin-top:10px;

  }
  #footer2 div:last-child {


  }
  #footer2 div p {
    padding-left:5px;


  }
  #footer2 div p:first-child {
    padding-left:5px;
  }
#privacy {

  padding-left:10px;
}
  #copyright {

    margin-left:3%;
  }

/* End front-page */




  /* page.php */
  #pagecontent {
    width:100%;
    float:left;
    clear:both;
    margin-left:0 !important;

  }

  #primarypagesidebar {
    width:100%;
    float:left;
    clear:both;
    margin-right:0 !important;


  }
  #side-bar-buttons1, #side-bar-buttons2 {
    height:340px;
    width:100%;


    }

  ul#button-list3 li a {

    width: 100%;
    height:100px;

    }

    ul#button-list4 li a {

      width: 100%;
      height:100px;

    }
    #side-button-six {
      background-color:transparent;

      height:100px;
    }
    #side-button-one p, #side-button-two p, #side-button-three p, #side-button-four p, #side-button-five p
    {
      text-align:center;
      padding-top:40px;
    }


    #sidebar-social-networking
    {
      width:70%;
      height:100px;


    }

    #sidebar-facebook, #sidebar-twitter
    {
      margin:0;
      margin-left:20px;


      width:42%;
      height:100%;
      float:left;
    }


    #sidebar-facebook img, #sidebar-twitter img
    {
      width:70%;
      margin-left:5px;

    }
  /* End page.php */



  /* index.php */



  /* End index.php */



  /* single.php */



  /* End single.php */

}
